.footer-container{

    background-color: var(--gray-dark);
    padding: 50px 0px 0px 0px;
    gap: 20px;
    padding: 0px 40px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20p;
    padding: 0px 40px;
}

.footer h3{
    color: var(--secundary-color);
}

.logo-footer{
    max-width: 200px;
}

.social-icons{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.copyright{
    background-color: var(--black);
    padding: 10px 30 px;
    font-size: 10px;
}